<ul class="inline">
  <li><a href="#y2013">2013</a> &raquo; </li>
  <li><a href="#y2012">2012</a> &raquo; </li>
  <li><a href="#y2011">2011</a> &raquo; </li>
  <li><a href="#y2010">2010</a> &raquo; </li>
  <li><a href="#y2009">2009</a> &raquo; </li>
  <li><a href="#y2008">2008</a> &raquo; </li>
  <li><a href="#y2007">2007</a> &raquo; </li>
  <li><a href="#y2006">2006</a> &raquo; </li>
  <li><a href="#y2005">2005</a> &raquo; </li>
  <li><a href="#y2004">2004</a> &raquo; </li>
  <li><a href="#y2003">2003</a> &raquo; </li>
  <li><a href="#y2002">2002</a> &raquo; </li>
  <li><a href="#y2001">2001</a> &raquo; </li>
  <li><a href="#y2000">2000</a></li>
</ul>

