## -*- coding: utf-8 -*-
<%page args="page_include_nav"/>
<ul class="inline">
  <li><a href="#y2015">2015</a> &raquo; </li>
  <li><a href="#y2014">2014</a> &raquo; </li>
  <li><a href="#y2013">2013</a> &raquo; </li>
  <li><a href="#y2012">2012</a> &raquo; </li>
  <li><a href="#y2011">2011</a> &raquo; </li>
  <li><a href="#y2010">2010</a> &raquo; </li>
  <li><a href="#y2009">2009</a> &raquo; </li>
  <li><a href="#y2008">2008</a> &raquo; </li>
  <li><a href="#y2007">2007</a> &raquo; </li>
  <li><a href="#y2006">2006</a> &raquo; </li>
  <li><a href="#y2005">2005</a> &raquo; </li>
  <li><a href="#y2004">2004</a> &raquo; </li>
  <li><a href="#y2003">2003</a> &raquo; </li>
  <li><a href="#y2002">2002</a> &raquo; </li>
  <li><a href="#y2001">2001</a> &raquo; </li>
  <li><a href="#y2000">2000</a></li>
</ul>

% if page_include_nav != None:

<hr class="entry_sep"/>

<div style="margin:0; width:48%; padding-right: 2%; display: inline; float: left; ">
<h3><a href="/all_en.html" hreflang="en">In English</a></h3>
<%include file="intro_en.html"/>
</div>
<div style="margin:0; width:48%; padding-left: 2%; display: inline; float: left; height: 9em">
<h3><a href="/all_fr.html" hreflang="fr">En Français</a></h3>
<%include file="intro_fr.html"/>
</div>

<hr class="entry_sep"/>

<%include file="location_nav.html"/>

<hr class="entry_sep"/>

<%include file="projects_nav.html"/>

% endif
