## -*- coding: utf-8 -*-
  <h2>Archives</h2>
  <h3>Year after Year</h3>
  <ul class="inline">
    <li><a href="/2012/">2012</a></li>
    <li><a href="/2011/">2011</a></li>
    <li><a href="/2010/">2010</a></li>
    <li><a href="/2009/">2009</a></li>
    <li><a href="/2008/">2008</a></li>
    <li><a href="/2007/">2007</a></li>
    <li><a href="/2006/">2006</a></li>
    <li><a href="/2005/">2005</a></li>
    <li><a href="/2004/">2004</a></li>
    <li><a href="/2003/">2003</a></li>
    <li><a href="/2002/">2002</a></li>
    <li><a href="/2001/">2001</a></li>
    <li><a href="/2000/">2000</a></li>
  </ul>

  <h3 class="clear">Around the World</h3>
  <ul class="inline">
    <li><a href="/geo/paris">Paris</a></li>
    <li> <a href="/geo/tokyo">Tokyo</a></li>
    <li><a href="/geo/montreal">Montreal</a></li>
    <li><a href="/geo/london">London</a></li>
  </ul>
  <p class='photonum'>… or explore <a href="/geo/">all locations</a>.</p>

  <h3  class="clear">Features and Projects</h3>
  <ul style="padding-left: 2em">
    <li style="margin-bottom: .1em"><a href="/people/nihonjin">Nihonjin, Anonymous portraits of Japan</a></li>
    <li style="margin-bottom: .1em"><a href="/2003/Ghosts_of_Tokyo/">Ghosts of Tokyo, a photo haiku</a></li>
    <li><a href="/2012/Sanzu/">Sanzu River, 2005-2006</a></li>
  </ul>
