## -*- coding: utf-8 -*-
<!DOCTYPE html>
<html>
<head>
<title>${title}</title>
<meta name="googlebot" content="NOODP" />
<meta name="google-site-verification" content="fUyaEhtYjJjwEy8CQ9PJKCWUonNoOPxECaidlEIxa7I" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="alternate" type="application/atom+xml" title="Atom Feed" href="/atom.xml" />
% if page_description != '':
<meta name="Description" content="${page_description}" />
% endif
<link rel="STYLESHEET" type="text/css" href="/style.css" />
</head>
<body>
<div id="siteWrapper">
<h1 class="banner"><a href="/">2&nbsp;Neurones &amp;&nbsp;1&nbsp;Camera</a></h1>
<div id="siteDescription">by Olivier Thereaux</div>

% if page_type == "Index" or page_type == "Home":
<%include file="top_nav.html"/>
% endif

<div id="content">

% if page_type != "Home":
<h2 class="postTitle">${title}</h2>
% endif
