## -*- coding: utf-8 -*-

<div lang="en" style="padding-right:20%; margin-top: 3em">
  <p>Hi, I'm Olivier. Technologist, researcher and craftsman of an open internet. Wanderer of trails and cities. Unrepentant greeter of cats. For over twenty years I have had the immense privilege to live and travel around the world. 
  <p>This is my online notebook of observations and moments —most of it written in my native French, yet picture-heavy. A few English-only entries can be found <a href="/all_en.html">here</a>.</p>
</div>
<div style="padding-left:20%; margin-top: 3em">
  <p>Bonjour, Je suis Olivier. Ingénieur, chercheur et artisan d'un internet ouvert, arpenteur des chemins et des villes, incorrigible salueur de chats.</p>
  <p>Depuis plus de vingt ans, j'ai l'immense privilège de vivre et voyager à travers le monde, et de glâner en ce carnet quelques observations et reflets des lieux et moments qui me touchent.</p>
  <p>Quelques entrées sur ce site sont en anglais, pour l'index du contenu francophone seulement, c'est <a href="/all_fr.html">par ici.</a></p>
</div>
