## -*- coding: utf-8 -*-

% for entry in selection:
  <h3 class="entryList"><a href="${entry.uri}" hreflang="${entry.language}">${entry.title}</a></h3>
  % if entry.pubdate != None:
  <p class="pubDate" title="publié/mis à jour">${entry.pubdate_human}</p>
  % endif
  % if entry.thumbnail != None:
  <div class="entry hasthumb">
  % else:
  <div class="entry">
  % endif
  % if entry.thumbnail != None:
    <div class="thumb"><a href="${entry.uri}" hreflang="${entry.language}"><img src="${entry.thumbnail}" alt="" /></a></div>
  % endif
  % if entry.abstract != None:
  <p class="entry_preview">${entry.abstract}</p>
  % endif
  <p class="photonum">
  % if entry.language == "fr":
    % if entry.photos != None:
      … <a href="${entry.uri}">À suivre / ${entry.photos} photos</a>
    % else:
      … <a href="${entry.uri}">À suivre</a>
    % endif
  % else:
    % if entry.photos != None:
      … <a href="${entry.uri}">Read more / ${entry.photos} photos</a>
    % else:
      … <a href="${entry.uri}">Read more</a>
    % endif
  % endif
  </p>
  </div>
  <hr class="entry_sep"/>

% endfor
